
@{
    ViewBag.Title = "Mockups";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Mockups</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Mockups</li>
</ol>


<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar
</button>
<br />
<br />
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar mockup</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" id="formularioMockup" enctype="multipart/form-data" action="javascript:formularioMockup()">

                <div class="modal-body">

                    <div class="row">

                        <input id="txtIdProducto" type="hidden" value="0"/>

                        <div class="mb-3">
                            <label for="txtTitulo" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="txtTitulo" required>
                        </div>


                        <div class="mb-3 col-6">
                            <label for="txtPrecio" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="txtPrecio" required>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="txtDescuento" class="form-label">Descuento</label>
                            <input type="number" class="form-control" id="txtDescuento" required>
                        </div>

                        <div id="divEstado"></div>


                        <div class="mb-4 mt-2 col-10">
                            <label for="formPSD" class="form-label">Archivo PSD</label>
                            <input class="form-control" type="file" id="formPSD" required>
                        </div>


                        <div class="col-2 mb-1 text-start pt-4">
                            <div class="">
                                <a href="#" title="Archivo .psd" id="urlPSD"><i class="fa fa-file-powerpoint fa-3x" style="color:black;"></i></a>
                            </div>
                        </div>


                        <div class="mb-2">
                            <label for="formFoto" class="form-label">Foto</label>
                            <input class="form-control" type="file" id="formFoto" required>
                        </div>


                        <div class="mb-1">
                            <div class="rounded-2 text-center" style="height: auto;">
                                <a href="#" title="foto">   
                                 <img class="h-50 w-50" id="imgFoto" src="https://res.cloudinary.com/dl1mbt9jb/image/upload/v1691258557/recursos/image.png" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <div class="row mt-3" id="guardando" hidden>
                        <div class="spinner-border text-dark col-3" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                        <div class="col-9 mt-1"><p>Guardando</p></div>
                    </div>

                    <button id="btnFormulario" type="submit" onclick="null" class="btn btn-dark">Agregar</button>

                </div>

            </form>
        </div>
    </div>
</div>


<table class="table" id="tabla" style="width: 100%;">
    <thead>
        <tr style="width:100%">
            <th>Id</th>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Descuento(%)</th>
            <th>Precio descuento</th>
            <th>Estado</th>
            <th>Acción</th>
            <th></th>
            <th></th>    
        </tr>
    </thead>
</table>


@section scripts{
    <script>
        var tabledata;
        var producto;
        var fila;

        llenarTabla();

        function limpiar() {
           $("#exampleModalLabel").html("Agregar Mockup");
           $("#formularioMockup")[0].reset();
           $("#btnFormulario").attr("type", "submit");
           $("#btnFormulario").html("Agregar");
           estadoFormulario(false);
           $("#divEstado").html("");
           $("#urlPSD").attr("href", "#");
            $("#imgFoto").attr("src", "https://res.cloudinary.com/dl1mbt9jb/image/upload/v1691258557/recursos/image.png");
            $("#txtIdProducto").attr("value", 0);
            $('#formFoto').prop("required", true);
            $('#formPSD').prop("required", true);


        }

        function mostrarAlerta(mensaje) {
            document.getElementById("mensajeAlerta").innerHTML = mensaje;
            $("#liveToast").show();

            setTimeout(() => {
                $("#liveToast").hide();
            }, 3000);
        }

        function cerrarAlerta() {
            $("#liveToast").hide();
        }



        function llenarTabla() {
            tabledata = new DataTable('#tabla', {
                scrollX: true,
                scrollY: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                "ajax": {
                    url: '@Url.Action("listarMockup", "Dashboard")',
                    type: "GET",
                    dataType: "json"

                },
                "columns": [
                    { "data": "idProducto", "width": "125px", },
                    { "data": "titulo", },
                    { "data": "precio", "width": "125px", },
                    { "data": "descuento", "width": "125px", },
                    { "data": "precioDescuento", "width": "175px", },

                    {
                        "data": "estado",
                        "width": "125px",
                        "render":
                            function (valor) {
                                if (valor) { return '<div class="form-check form-switch"><input title="Activo" class="form-check-input" type="checkbox" role="switch" id="switchActivo" checked></div>'; }
                                else { return '<div class="form-check form-switch"> <input title="Inactivo" class="form-check-input" type="checkbox" role="switch" id="switchActivo"></div>'; }
                            }
                    },
                    {
                        "defaultContent": '<button type="button" title="Detalles" class="btn btn-success btn-ver"><i class="fas fa-eye"></i></button> ',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px",
                    },
                    {
                        "defaultContent": '<button type="button" title="Editar" class="btn btn-primary btn-editar"><i class="fas fa-pen"></i></button> ',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px",
                    },
                    {
                        "defaultContent": '<button type="button" title="Eliminar" class="btn btn-danger btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "50px",
                    },
                ]
            });

        }

        /*function mostrarEstado() {
            $("#guardando").removeAttr('hidden');
        }*/

        function formularioMockup() {
            let id = $("#txtIdProducto").val();
            (id == 0) ? agregarMockup() : editarMockup();
        }



        function agregarMockup() {

            var formData = new FormData();
            formData.append("titulo", $("#txtTitulo").val());
            formData.append("precio", $("#txtPrecio").val());
            formData.append("descuento", $("#txtDescuento").val());
            formData.append("psd", $("#formPSD")[0].files[0]);
            formData.append("foto", $("#formFoto")[0].files[0]);

            jQuery.ajax({
                url: '@Url.Action("guardarMockup", "Dashboard")',
                type: "POST",
                data: formData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                contentType: false,
                async: true,
                
                success: function (data) {
                    tabledata.row.add(data).draw(false);
                    $("#guardando").attr('hidden', true);
                    $("#exampleModal").modal("hide");
                    mostrarAlerta("Producto agregado correctamente");
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function (data) {
                    $("#guardando").removeAttr('hidden');
                }
            });
        }


        function editarMockup() {
           
            var formData = new FormData();
            formData.append("idProducto", $("#txtIdProducto").val());
            formData.append("titulo", $("#txtTitulo").val());
            formData.append("precio", $("#txtPrecio").val());
            formData.append("descuento", $("#txtDescuento").val());
            formData.append("estado", $("#cboEstado").val() == 1 ? true : false);
            formData.append("psd", $("#formPSD")[0].files[0]);
            formData.append("foto", $("#formFoto")[0].files[0]);
       
            jQuery.ajax({
                url: '@Url.Action("editarMockup", "Dashboard")',
                type: "POST",
                data: formData,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                contentType: false,
                async: true,
                success: function (data) {
                    tabledata.row(fila).data(data).draw(false);
                    $("#guardando").attr('hidden', true);
                    $("#exampleModal").modal("hide");
                    mostrarAlerta("Producto actualizado correctamente");
                    

                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function (data) {
                    $("#guardando").removeAttr('hidden');
                }
            });
        }






        function estadoFormulario(estado) {
            $('#inputId').attr('readonly', estado);
            $("#txtTitulo").attr('readonly', estado);
            $("#txtPrecio").attr('readonly', estado);
            $("#txtDescuento").attr('readonly', estado);
            $("#cboEstado").attr('disabled', estado);
            $("#formFoto").attr('disabled', estado);
            $("#formPSD").attr('disabled', estado);
        }




        function rellenarCamposFormulario(idProducto, estado) {
            $('#formFoto').removeAttr("required");
            $('#formPSD').removeAttr("required");

            $("#exampleModalLabel").html("Mockup - " + idProducto);
            buscarProducto(idProducto);
            var opcion =
                (producto[0].estado) ?
                    `<option selected value="1">Activo</option>
                 <option value="0">Inactivo</option>`
                    :
                    `<option value="1">Activo</option>
                 <option selected value="0">Inactivo</option>` ;

            $("#txtTitulo").val(producto[0].titulo);
            $("#txtPrecio").val(producto[0].precio);
            $("#txtDescuento").val(producto[0].descuento);
            $("#urlPSD").attr("href", producto[0]["Contenido"][0]["urlContenido"]);
            $("#imgFoto").attr("src", producto[0]["Contenido"][1]["urlContenido"]);
            $("#divEstado").html(`
                <label for="cboEstado" class="form-label">Estado</label>
                        <select class="form-select" id="cboEstado" required>
                            <option disabled value="">Seleccione</option>`+ opcion + `</select>`);

            estadoFormulario(estado);
            $("#exampleModal").modal("show");
        }

        



        function buscarProducto(id) {
              jQuery.ajax({
                url: '@Url.Action("buscarMockup", "Dashboard")',
                type: "POST",
                data: JSON.stringify({id : id}),
                  dataType: "json",
                  async: false,

                contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      producto= data;
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                }
            });
        }


        function eliminarMockup(id) {
            jQuery.ajax({
                url: '@Url.Action("eliminarMockup", "Dashboard")',
                type: "POST",
                data: JSON.stringify({ id: id}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {

                }
            });
        }


        function cambiarEstadoMockup(id, estado) {
            jQuery.ajax({
                url: '@Url.Action("actualizarEstadoMockup", "Dashboard")',
                type: "POST",
                data: JSON.stringify({ id: id, estado: estado }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {

                }
            });
        }


        function cerrarModal() {
            $("#exampleModal").modal("hide");
        }


        $("#exampleModal").on("hidden.bs.modal", function () {
            
            $("#btnFormulario").attr("onclick", null);
            limpiar();
        });


        $("#tabla tbody").on("click", ".btn-ver", function () {
            var filaSeleccionada = $(this).closest("tr");
            let idProducto = tabledata.row(filaSeleccionada).data()["idProducto"];
            $('#btnFormulario').attr('onclick', 'cerrarModal()');
            $("#btnFormulario").attr("type", "button");
            $("#btnFormulario").html("Aceptar");
            rellenarCamposFormulario(idProducto, true);
            
            
        });




        $("#tabla tbody").on("click", ".btn-editar", function () {
            var filaSeleccionada = $(this).closest("tr");
            let idProducto = tabledata.row(filaSeleccionada).data()["idProducto"];
            fila = filaSeleccionada;
            $("#btnFormulario").attr("type", "submit");
            $("#btnFormulario").html("Editar");
            $("#txtIdProducto").attr("value", idProducto);
            rellenarCamposFormulario(idProducto, false);
        });


        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var filaSeleccionada = $(this).closest("tr");
            let idProducto = tabledata.row(filaSeleccionada).data()["idProducto"];
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success m-1',
                    cancelButton: 'btn btn-danger m-1'
                },
                buttonsStyling: false
            })
            swalWithBootstrapButtons.fire({
                title: '¿Desea eliminar?',
                text: "Esta acción es ireversible, ¿Desea continuar?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    confirmButton: 'btn btn-danger m-1',
                    cancelButton: 'btn btn-success m-1'
                },
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    eliminarMockup(idProducto);
                    tabledata.row(filaSeleccionada).remove().draw(false);
                    swalWithBootstrapButtons.fire(
                        'Eliminado',
                        'El mockup fue eliminado',
                        'success',
                    )
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Usted canceló la acción',
                        'error'
                    )
                }
            });
        });




        $("#tabla tbody").on("change", "#switchActivo", function () {
            var filaSeleccionada = $(this).closest("tr");
            let idProducto = tabledata.row(filaSeleccionada).data()["idProducto"];
            var checked = this.checked;
            (checked) ? cambiarEstadoMockup(idProducto, true) : cambiarEstadoMockup(idProducto, false);
        });


        $("#formFoto").on("change", function () {
            var imagen = $(this)[0].files[0];

            var fileReader = new FileReader();
            fileReader.readAsDataURL(imagen);
            fileReader.onload = function () {

                $("#imgFoto").attr("src", fileReader.result);
            };
        });





        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()



    </script>

}