@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Store.cshtml";

}




<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            @{ foreach (var producto in ViewBag.productos)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            @if (producto.descuento != 0)
                            {
                               
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@producto.descuento% desc.</div>

                            }
                            
                            <img class="card-img-top" src=@producto.urlContenido />
                            
                            <div class="card-body p-4">
                                <div class="text-center">
                                    
                                    <h5 class="fw-bolder">@producto.titulo</h5>
                                  
                                    @if (producto.descuento != 0)
                                    {
                                        <span class="text-muted text-decoration-line-through">$@producto.precio</span>
                                        <span>$@producto.precioDescuento</span>
                                    }
                                    else
                                    {
                                        <span>$@producto.precio</span>
                                    }
                                </div>
                            </div>
                            
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">


                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark mt-auto"
                                            onclick="agregarCarrito(@producto.idProducto)">
                                        Agregar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }



        </div>
    </div>
</section>





@section scripts{


    <script>

        window.addEventListener("load", function (event) {
            const valores = window.location.search;
           
            const urlParams = new URLSearchParams(valores);
            
            var estado = urlParams.get('cancel');
            
            
            if (estado == 'true')
                mostrarAlerta("La compra fue cancelada",5000);

        });




        function agregarCarrito(id) {

            $.ajax(
                 {
                     url: "@Url.Action("agregarCarrito", "Store")",
                     data: { id: id },
                    dataType: "json",
                    type: "POST",
                     success: function (data) {
                         console.log(data);
                         if (data == false) {
                             mostrarAlerta("El producto ya esta en el carrito",1000);
                         }
                         else {
                             rellenarCarrito();
                             mostrarAlerta("Producto agregado al carrito");
                         }
                     },
                     error: function (err, error) {

                     }
                 }
            );
        }


        function quitarProducto(id) {
            $.ajax(
                 {
                    url: "@Url.Action("EliminarProducto", "Store")",
                    data: { id: id },
                    dataType: "json",
                    type: "POST",
                     success: function (data) {
                         console.log(data);
                         rellenarCarrito();
                         mostrarAlerta("Producto eliminado al carrito");
                     },
                     error: function (err, error) {

                     }
                 }
            );
        }



        function comprarPaypal() {
            jQuery.ajax({
                url: '@Url.Action("Paypal", "Store")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    if (data.mensaje != "" && data.cantidad > 0) {
                        mostrarAlerta(data.mensaje, 1000);
                    }

                     else if (data.status && data.cantidad != 0) {

                        var linkPago = data.respuesta.Links[1].Href;
                        console.log(linkPago);
                        window.location.href = linkPago;
                    }
                     else if (data.cantidad == 0) {
                        mostrarAlerta("Su carrito esta vacio", 1000);
                     }
                    else {
                        mostrarAlerta("Vuelva a intentarlo mas tarde", 1000);
                        
                     }


                },
                beforeSend: function () {
                }
            });
        }


    </script>


}







