
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>


    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <!-- Position it: -->
        <!-- - `.toast-container` for spacing between toasts -->
        <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
        <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
        <div class="toast-container top-0 end-0 p-2">

            <!-- Then put toasts within -->
            <div class="toast" role="alert" id="liveToast" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    @*<img src="..." class="rounded me-2" alt="...">*@
                    <strong class="me-auto">Mensaje</strong>
                    <small class="text-body-secondary">Justo ahora</small>
                    <button type="button" class="btn-close" onclick="cerrarAlerta()" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="mensajeAlerta"></div>
            </div>


        </div>
    </div>



    <section class="vh-100" style="background-color: whitesmoke;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>