@{
    Layout = null;
    var texto = "";
    var sesion = (MockupApp.Models.sp_LoginUsuario_Result)Session["usuario"];
    if (sesion != null)
    {
        texto = sesion.nombres + " "+sesion.apellidos;

    }



}
@model IEnumerable<MockupApp.Models.sp_LoginUsuario_Result>


<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

</head>

<body>


    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
           
                <ul class="navbar-nav ms-auto me-1 me-md-3 my-2 my-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            @if (sesion == null)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("","login")">Iniciar sesión</a></li>
                            }


                            @{if (sesion != null)
                                {
                                    <li> <h6 class="dropdown-item" href="#" id="txtCorreo">@texto</h6></li>
                                    <li><a class="dropdown-item" href="@Url.Action("","dashboard")">Mi Dashboard</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Salir","Store")">Cerrar sesión</a></li>
                                }
                            }
                        </ul>
                    </li>
                </ul>


                <div class="d-flex">



                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                        @*<button class="btn btn-outline-dark" onclick="modalCarrito()">*@
                        <i class="bi-cart-fill me-1"></i>
                        Carrito
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="countCarrito">0</span>
                    </button>
                </div>
            
        </div>
    </nav>





    <div>
            
      

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color:white;">
                    <div class="toast-header">
                        @*<img src="..." class="rounded me-2" alt="...">*@
                        <strong class="me-auto">Mensaje</strong>
                        <small>Justo ahora</small>
                        <button type="button" class="btn-close" onclick="cerrarAlerta()" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="mensajeAlerta">
                       
                    </div>
                </div>
            </div>    

            


            @RenderBody()
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>




        <!--Modal carrito-->
        <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasRightLabel">Mi carrito</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="contenedorCarrito">


            </div>

            <div class="offcanvas-footer" style="padding: 10px">


                <div class="row g-0" style="padding:10px 0">
                    <div class="col-8 pe-2">
                        <input class="form-control" type="text" placeholder="Ingrese su cupón" />
                    </div>
                    <div class="col-4">
                        <button type="button" style="width:100%" class="btn btn-light">Aplicar</button>
                    </div>

                </div>


                <div class="row g-0">
                    <h3 class="col-8">Total: </h3>
                    <h3 class="col-4 text-end" id="totalPagar">S/150.00</h3>
                </div>


                <div class="row g-0">
                    <button type="button" class="btn btn-dark">Ir a pagar</button>
                </div>
            </div>




        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/complementos")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
<script>


        rellenarCarrito();


        function rellenarCarrito() {

            $.ajax(
                 {
                    url: "@Url.Action("obtenerCarrito", "Store")",
                    type: "GET",
                    async: false,
                    success: function (data) {
                        //debugger;
                        console.log(data);
                        $("#countCarrito").html(data.length);
                        var contenidoMandar = "";
                        var total = 0;
                        for (let producto of data) {
                                contenidoMandar += contenedor(producto.idProducto,
                                    producto.titulo, producto.urlContenido, producto.precio, producto.precioDescuento);

                            (producto.precioDescuento != 0) ? total += producto.precioDescuento : total +=producto.precio;

                        }
                        $("#totalPagar").html(`$${total}`);
                        $("#contenedorCarrito").html(contenidoMandar);
                        console.log(data.length);
                    },
                    error: function (err, error) {

                    }
                 }
            );
        }


    function contenedor(id, titulo, foto, precio, precioDescuento) {
        conDescuento = (precioDescuento != 0) ? `<h5 class="card-text"> <span>$` + precioDescuento + `</span> <span class="text-muted text-decoration-line-through">$` + precio +`</span>
                                       </h5>` : `<h5 class="card-text">$` + precio + `</h5>`;

            return `<div class="card mb-3 shadow bg-body-tertiary rounded" style="max-width: 540px;">
            <div class="badge bg-danger text-white position-absolute "title="Eliminar" style="top: 0.5rem; right: 0.5rem; cursor:pointer" onclick="quitarProducto(`+ id +`)"><i class="fas fa-trash"></i></div>
            <div class="row g-0">
                <div class="col-5">
                    <img src="`+foto +`"class="img-fluid rounded-start h-100" alt="...">
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <span class="font-monospace">SKU:` + id + `</span>
                        <h6 class="card-title">`+ titulo + `<br /> </h6>` + conDescuento +
                    `</div>
                </div>
            </div>
        </div>`;
        }



        function mostrarAlerta(mensaje, tiempo=500) {
            document.getElementById("mensajeAlerta").innerHTML = mensaje;
            $("#liveToast").show();

            setTimeout(() => {
                $("#liveToast").hide();
            }, tiempo);
        }

        function cerrarAlerta() {
            $("#liveToast").hide();
        }



</script>

</body>
</html>